[Unit]
Description=Set CPU scaling governor to `performance` on all cpufreq policies
ConditionPathExistsGlob=/sys/devices/system/cpu/cpufreq/policy*

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'for p in /sys/devices/system/cpu/cpufreq/policy*/scaling_governor; do echo performance > "$$p"; done'

[Install]
WantedBy=multi-user.target
